Package: com.thomasfinch.favebot
Name: FaveBot
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: View favorites natively in Tweetbot
Maintainer: Thomas Finch
Author: Thomas Finch
Section: Tweaks
